html, body {
    scroll-behavior: smooth;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
 } 

#barra_contenidos {
width: 100%;
height: 2cm;
background-color:#000;
color:#299f56;
line-height: 50px;
position:fixed;
top:0
}

#barra_contenidos ul {
list-style-type: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
display:flex;
}

#barra_contenidos ul li {
display: block;
padding-left: 1%;
font-weight: bold;
padding-right: 2%;
text-align:center;
padding-top: 0.5cm;
}

#barra_contenidos ul li a {
	text-decoration: none;
	text-decoration: none;
	color: #299f56;
	font-size: 130%;
}


#encabezado_principal {
	background-image: url(../img/distros_portada.jpg);
	background-size: 100% 100%;
	height: 15cm;
	width: 100%;
}

#encabezado_principal img {
	width: 13%;
	height: 25%;
	padding-top: 15%;
	padding-left: 5%;
}

#encabezado_principal h2 {
	padding-left: 3%;
     -webkit-text-stroke: 1px #22b718;
    color: black;
}


#contenidos_informativo {
 text-align: justify;  
}

#contenidos_informativo p {
  text-indent: 20px;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

#contenidos_informativo h1 {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  font-size: 1.2cm;
}

#contenidos_informativo h2 {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
  font-size: 1cm;
}

#contenidos_informativo img {
 width: 80%;
 display: block;
 margin: auto;
 padding-top: 5%;
 padding-bottom: 5%;
}

#distribuciones_linux ul {
	display: flex;
	list-style: none;
}

#distribuciones_linux ul li{
 width: 25%;
 padding-top: 3%;
}

#distribuciones_linux ul li p{
font-weight: bold;
text-align: center;
padding-right: 30%;
font-size: 0.5cm;
}

#distribuciones_linux ul li img{
padding-right: 20%;
}

#pie_pagina {
margin-top : 2cm;
height: 7cm;
padding-top: 1cm;
background-color: #22b718;
font-weight: bold;
font-size: 1cm;
}